@import "tailwindcss";

@import url('https://googleapis.com');

@theme {
  --font-inter: 'Inter', sans-serif;
  --font-times: 'Times New Roman', Times, serif;
  --font-roboto: 'Roboto', sans-serif;
}



